.video-list {
  border: 2px solid var(--gray-300);
  border-radius: 0.5rem;
  width: 400px;
  transition: var(--transition);
  padding: 1em;
}

.video-list h2{
  margin-top: -10px;
  margin-bottom: 3px;
 font-size: 2em;
 color: var(--green-300);
 font-family: sans-serif;
}

.video-list .btn-container{
  display: none;
}

.video-list .btn-delete{
  margin-left: 5px;
}

.note-info{
  color: #202124;
  direction: ltr;
  font-family: "Roboto",arial,sans-serif;
  font-size: 15px;
  box-sizing: border-box;
  box-shadow: none;
  opacity: 1;
  border-radius: 8px;
  transition-duration: 0.218s;
  pointer-events: auto;
  margin: 16px;
  /* position: absolute; */
  display: block;
  transition-property: opacity,transform;
  width: 240px;
  background-color: #fff;
    border-color: #e0e0e0;
    height: 100px;
    border: 1px #e0e0e0 solid;

}
.video-info:hover {
  border-color: var(--gray-500);
  color: var(--green-300);
  cursor: pointer;
  border: 1px solid salmon;
  transition: var(--transition);
}
